<%= form_with(model: server, local: true, class: 'single', id: 'server_form') do |form| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2><%= title %></h2>

  <span>
    <%= form.label :host_name, class: 'label'%>
    <%= form.text_field :host_name, class: 'value' %>
  </span>

  <span>
    <%= form.label :model, class: 'label'%>
    <%= form.text_field :model, class: 'value'%>
  </span>

  <span>
    <%= form.label :serial_no, class: 'label' %>
    <%= form.text_field :serial_no, class: 'value' %>
  </span>

  <h3>
    <%= link_to 'Back', servers_path %> |
    <% unless action_name == "new"%>
      <%= link_to 'Edit', edit_server_path(@server) %> <%= fa_icon("edit") %> |
    <% end %>
    <%= link_to 'Save', "", onclick: "document.getElementById('server_form').submit()" %> <%= fa_icon("save") %>
  </h3>
<% end %>
