<p id="notice"><%= notice %></p>

<div class="section">
  <h2>Server List</h2>

  <%= form_for :server, remote: true, method: :get do |f| %>
    <%= text_field_tag :q, params[:q] %>
    <%= f.button fa_icon "search" %>
    <%= link_to new_server_path do %>
      <%= f.button fa_icon("plus") %>
    <% end %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Host name</th>
      <th>Model</th>
      <th>Serial no</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="servers">
    <%=render partial: 'servers', locals: {servers: @servers} %>
  </tbody>
</table>
