<div class="single">
  <h2>Server #<%= @server.id %></h2>

  <span>
    <p class="label">Host name</p>
    <p class="value"><%= @server.host_name %></p>
  </span>

  <span>
    <p class="label">Model</p>
    <p class="value"><%= @server.model %></p>
  </span>

  <span>
    <p class="label">Serial no</p>
    <p class="value"><%= @server.serial_no %></p>
  </span>

  <h3>
    <%= link_to 'Back', servers_path %> 
    <% if current_user %>
      | <%= link_to 'Edit', edit_server_path(@server) %> <%= fa_icon("edit") %>
    <% end %>
  </h3>
</div>