<%= form_with(model: spare, local: true) do |form| %>
  <% if spare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spare.errors.count, "error") %> prohibited this spare from being saved:</h2>

      <ul>
      <% spare.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :date_delivered %>
    <%= form.datetime_select :date_delivered %>
  </div>

  <div class="field">
    <%= form.label :date_warranty %>
    <%= form.datetime_select :date_warranty %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :balance %>
    <%= form.text_field :balance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
