<% spares.each do |spare| %>
  <tr data-link="<%=spare_path(spare.id)%>">
    <td><%= link_to spare.description || '', spare %></td>
    <td><%= link_to spare.delivered || '', spare %></td>
    <td><%= link_to spare.warranty || '', spare %></td>
    <td><%= link_to spare.stock || '', spare %></td>
    <td><%= link_to spare.balance || '', spare %></td>
    <% if current_user %>
      <td class="actions">
        <%= link_to fa_icon("edit"), edit_spare_path(spare) %>
        <%= link_to fa_icon("trash"), spare, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    <% end %>
  </tr>
<% end %>

<script>
  function redirect(element) {
    var link = element.getAttribute("data-link")
    window.location.href = this.location.origin + link
  }
</script>