<% spares.each do |spare| %>
  <tr data-link="<%=spare_path(spare.id)%>" onclick="redirect(this)">
    <td><%= spare.description %></td>
    <td><%= spare.date_delivered %></td>
    <td><%= spare.date_warranty %></td>
    <td><%= spare.stock %></td>
    <td><%= spare.balance %></td>
    <td>
      <%= link_to fa_icon("edit"), edit_spare_path(spare) %>
      <%= link_to fa_icon("trash"), spare, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>

<script>
  function redirect(element) {
    var link = element.getAttribute("data-link")
    window.location.href = this.location.origin + link
  }
</script>