<div class="single">
  <h2>Spare #<%= @spare.id %></h2>

  <span>
    <p class="label">Description</p>
    <p class="value"><%= @spare.description %></p>
  </span>

  <span>
    <p class="label">Date delivered</p>
    <p class="value"><%= @spare.delivered %></p>
  </span>

  <span>
    <p class="label">Date warranty</p>
    <p class="value"><%= @spare.warranty %></p>
  </span>

  <span>
    <p class="label">Stock</p>
    <p class="value"><%= @spare.stock %></p>
  </span>

  <span>
    <p class="label">Balance</p>
    <p class="value"><%= @spare.balance %></p>
  </span>

  <h3>
    <%= link_to 'Back', spares_path %> |
    <%= link_to 'Edit', edit_spare_path(@spare) %> <%= fa_icon("edit") %>
  </h3>
</div>