<!DOCTYPE html>
<html>
  <head>
    <title>ServerInventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="toast">
      <% if notice %>
        <p class="notice"><%= notice %></p> 
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>
    <div class="head">
      <%= content_tag(:div, (link_to "Servers", servers_path), class: active_current_path(servers_path)) %>
      <%= content_tag(:div, (link_to "Spares", spares_path), class: active_current_path(spares_path)) %>
      <% if current_user %>
        <%= content_tag(:div, (link_to "#{current_user.full_name} | Logout", destroy_user_session_path, method: :delete)) %>
      <% else %>
        <%= content_tag(:div, (link_to "Login", new_user_session_path), class: active_current_path(new_user_session_path)) %>
      <% end%>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
